.Banner {
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blurb {
    max-width: 300px;
}

.blurb p {
    font-size: 1.5rem;
    color: white;
}