.Featured {
    background-color: blue;
}
.items {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

h2 {
    font-size: 2rem;
    margin: 0 !important;
}

.test {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .items {
        flex-wrap: nowrap;
        overflow: auto;
        gap: 10px;
        /* Shoddy for narrow desktop user. Make scrollable clean. */
    }
  }