.ItemCard {
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: solid rgb(187, 187, 187) 1.5px;
    margin: 10px;
    /*clean up margin card with featured div*/
}

.ItemCard img {
    width: 100%;
}

.itemDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.productName p {
    margin: 0;
}

#purchaseBtn {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .ItemCard {
        width: 130px;
    }
  }