nav {
    background-color: red;
}

nav img {
    width: 40px;
}

#header {
    text-decoration: none;
}

.headerText {
    /* why not aligned */
    padding-bottom: 3px; 
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 5px;
}

.links > * {
    color: white;
    text-decoration: none;
    margin-right: 10px;

}