nav {
    background-color: red;
}

nav img {
    width: 40px;
}

.logoArea {
    display: flex;
    align-items: center;
    gap: 5px;
}

.links {
    display: flex;
    gap: 10px;
}

.links > * {
    color: white;
    text-decoration: none;
}