.Social {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid red;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.row h5 {
    width: 40px;
}

@media only screen and (max-width: 600px) {
    .tweet {
    }
  }