.Featured {
    background-color: rgb(233, 233, 233);
}
.items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.test {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .items {
        flex-wrap: nowrap;
        overflow: auto;
        gap: 10px;
        /* Shoddy for narrow desktop user. Make scrollable clean. */
    }
  }